@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

body {
  background-image: url("../multimedia/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Variables header */
/* Variables header */
/* Inicio css header*/
.bg-propio {
  background-color: #b2e2f2de;
}
.bg-propio .container-fluid {
  /* Mobile */
  /* Tablet */
  /* Desktop */
}
.bg-propio .container-fluid .navbar-nav .nav-item .img-carrito {
  width: 25px;
  height: 25px;
  margin: 0px 10px 0 5px;
}
.bg-propio .container-fluid .navbar-nav .nav-item .dropdown-menu {
  background-color: #b2e2f2de !important;
}
.bg-propio .container-fluid .navbar-nav .align-propio {
  align-self: flex-end;
}
@media only screen and (min-width: 1200px) {
  .bg-propio .container-fluid .navbar-nav .align-propio {
    align-self: center;
  }
}
@media only screen and (max-width: 400px) {
  .bg-propio .container-fluid .logo {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 10px;
    left: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .bg-propio .container-fluid .logo {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 10px;
    left: 20px;
  }
}
@media only screen and (min-width: 961px) {
  .bg-propio .container-fluid .logo {
    width: 130px;
    height: 130px;
    position: fixed;
    top: 10px;
    left: 50px;
  }
}

/* Fin css header */
/* Variables */
/* Variables */
section {
  /* Inicio section 1 */
  /* Fin section 1 */
  /* Inicio section 2 */
  /* Fin section 2*/
}
section .carousel-caption h2 {
  font-family: "Montserrat", sans-serif;
  color: #dfdfdf;
  text-shadow: 1px 1px 1px black;
  font-size: calc(1.325rem + 0.9vw);
}
section .carousel-caption .slogan {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: #dfdfdf;
  font-size: calc(1rem + 0.9vw);
  text-shadow: 1px 1px 1px black;
}
section .titulos {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #605f5f;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
  font-size: calc(1.325rem + 0.9vw);
}
section .contenedor-catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section .contenedor-catalogo .img-catalogo {
  margin: 30px 50px 50px 50px;
  box-shadow: 2px 2px 10px #666;
  transition: all 1s;
}
section .contenedor-catalogo .img-catalogo:hover {
  transform: scale(1.2);
}

/* Media Queries Index */
/* Respuesta de carousel ante menú despegable*/
@media only screen and (max-width: 1199px) {
  .carousel {
    padding-top: 47px;
  }
}
@media only screen and (min-width: 1199px) {
  .carousel {
    padding-top: 77px;
  }
}
/* Respuesta de carousel ante menú despegable*/
/* Inicio css footer */
.navbarf {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.img-redes {
  width: 30px;
  height: 30px;
}

.img-mp {
  width: 100px;
}

/* Fin css footer */
/* Variables header */
/* Variables header */
section .mt-propio {
  margin-top: 100px;
}
section .m-propio {
  margin-top: 30px;
}
section .row {
  align-items: center;
}
section .row .card {
  box-shadow: 2px 2px 10px #666;
  border-radius: 5px;
}
section .row .product-tittle {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #605f5f;
  margin-top: 3%;
  text-align: center;
  padding: 0% 5% 0% 5%;
}
section .row .price-tittle {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #605f5f;
  margin-top: 3%;
  text-align: center;
}
section .row .card-text {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  color: #605f5f;
  padding: 0% 5% 0% 5%;
}
section .row .btn-menos {
  color: black;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.365);
  box-shadow: 1px 1px 5px #666;
  margin-inline-start: 7px;
}
section .row .btn-menos:hover {
  background-color: #dad9d9;
}
section .row .btn-menos:active {
  border: green;
}
section .row .btn-position {
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
section .row .btn-position .signo-menos {
  position: relative;
  margin-top: -4px;
  margin-left: -1.5px;
  font-family: "Montserrat", sans-serif;
  color: #605f5f;
}
section .row .btn-position .signo-mas {
  position: relative;
  margin-top: -3px;
  margin-left: -2.2px;
  font-family: "Montserrat", sans-serif;
  color: #605f5f;
}
section .row .contador {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 18px;
}
section .row .btn-position1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 5px;
  width: 90%;
}

/* Ddesafío Clase 12 - Aplicando SASS Operaciones/Mapas */
.card-noregistrado {
  background-color: white;
}

.card-registrado {
  background-color: #b2e2f2de;
}

/* Ddesafío Clase 12 - Aplicando SASS Operaciones/Mapas */
/* Respuesta de card ante menú despegable*/
@media only screen and (max-width: 1199px) {
  .m-propio-2 {
    margin-top: 20%;
  }
}
@media only screen and (min-width: 1199px) {
  .m-propio-2 {
    margin-top: 10%;
  }
}
/* Respuesta de card ante menú despegable*/
.contenedor {
  height: 100vh;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.contenedor .card-body {
  flex: 1 1 auto;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 10px #666;
  border-radius: 5px;
}
.contenedor .card-body .registro {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #605f5f;
  text-align: center;
  margin-bottom: 10px;
}
.contenedor .card-body .btn-registro {
  width: 32%;
  margin-left: 68%;
}

@media (min-width: 1200px) {
  .contenedor {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .contenedor {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .contenedor {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .contenedor {
    max-width: 700px;
  }
}
.quienes-somos {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.quienes-somos .titulo-nosotros {
  font-family: "Montserrat", sans-serif;
  flex: 1 1 auto;
  padding: 1rem 2rem;
}
.quienes-somos .leyenda-nosotros {
  font-family: "Montserrat", sans-serif;
  flex: 1 1 auto;
  padding: 1rem 2rem;
}

@media (min-width: 1200px) {
  .quienes-somos {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .quienes-somos {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .quienes-somos {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .quienes-somos {
    max-width: 700px;
  }
}
.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #666;
}

.img-profile1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #666;
}

.c2 {
  height: auto;
  margin-bottom: 5%;
}

.ub-perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-position-menos-carrito {
  width: 25px;
  height: 25px;
  border-radius: 50% !important;
}

.btn-position-mas-carrito {
  width: 25px;
  height: 25px;
  border-radius: 50% !important;
}

.bg-enc-tab {
  background-color: #b2e2f2de;
  text-align: center;
}

tr {
  text-align: center;
}

.total {
  background-color: #b2e2f2de !important;
}

/*# sourceMappingURL=style.css.map */
