/* Inicio css footer */

.navbarf {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.img-redes {
    width: 30px;
    height: 30px;
}
.img-mp {
    width: 100px;
}


/* Fin css footer */