@import '../base/variables';

/* Inicio css header*/
.navbar-nav {
    align-items: center;
}
.bg-propio {
    background-color: $bg-navbar;
}

.container-fluid {

    /* Mobile */
    @media only screen and (max-width: 400px) {
        .logo {
            width: 70px;
            height: 70px;
            position: fixed;
            top: 10px;
            left: 20px;
        }
    }

    /* Tablet */
    @media only screen and (min-width: 401px) and (max-width: 960px) {
        .logo {
            width: 100px;
            height: 100px;
            position: fixed;
            top: 10px;
            left: 20px;
        }
    }

    /* Desktop */
    @media only screen and (min-width: 961px) {
        .logo {
            width: 130px;
            height: 130px;
            position: fixed;
            top: 10px;
            left: 50px;
        }
    }
}


.dropdown-menu {
    background-color: #b2e2f2de !important; 
}
.nav-item {

    .img-carrito {
        width: 25px;
        height: 25px;
        margin: 0px 10px 0 5px;
    }

    .img-perfil {
        width: 70px;
        height: 70px;
    }

}



/* Fin css header */