.img-profile {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    border: 2px solid #666;
}

.c2 {
    height: auto;
    margin-bottom: 5%;
}

.ub-perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}